{%- liquid
  assign limit = 10
  assign is_swatch_option = false
  assign is_image_option = false

  # Logic to determine display type
  if filter.presentation == 'image'
    assign is_image_option = true
  endif

  # Logic to keep accordion open if active
  assign accordion_initial_state = ''
  assign accordion_open_boolean = false

  if filter.active_values.size > 0 or filter.max_value.value < filter.range_max or filter.min_value.value > 0
    assign accordion_initial_state = 'accordion-is-open'
    assign accordion_open_boolean = true
  endif
-%}

<div class="sidebar__filter__group"{% if is_swatch_option or is_image_option %} data-swapper-wrapper{% endif %} {% if block %}{{ block.shopify_attributes }}{% endif %}>
  <button class="sidebar__heading js {{ accordion_initial_state }}"
    data-accordion-trigger="accordion-{{ filter.label | handle }}-{{ forloop.index }}"
    aria-controls="accordion-{{ filter.label | handle }}-{{ forloop.index }}"
    aria-haspopup="true"
    aria-expanded="{{ accordion_open_boolean }}">
    <span>{{ filter.label }}</span>

    {%- if is_swatch_option or is_image_option -%}
      <span data-swapper-target class="sidebar__heading__color"></span>
    {%- endif -%}

    {%- if filter.active_values.size > 0 -%}
      <span>({{ filter.active_values.size }})</span>
    {%- endif -%}

    <span class="sidebar__heading-chevron">
      {% render 'icon-core-chevron-right' %}
      <span class="a11y__show visually-hidden">{{ 'general.accessibility.expand_menu' | t }}</span>
      <span class="a11y__hide visually-hidden">{{ 'general.accessibility.hide_menu' | t }}</span>
    </span>
  </button>

  <input type="checkbox" name="accordion-{{ filter.label | handle }}" id="accordion-{{ filter.label | handle }}-checkbox" class="no-js no-js-checkbox" checked>

  <label for="accordion-{{ filter.label | handle }}-checkbox" class="sidebar__heading no-js">
    <span>{{ filter.label }}</span>
    {%- if is_swatch_option -%}
      <span data-swapper-target class="sidebar__heading__color"></span>
    {%- endif -%}
    {%- if filter.active_values.size > 0 -%}
      <span>({{ filter.active_values.size }})</span>
    {%- endif -%}
    <span class="sidebar__heading-chevron">
      {% render 'icon-core-chevron-right' %}
    </span>
  </label>

  {%- case filter.type -%}
    {%- when 'list' or 'boolean' -%}
      <ul class="sidebar__navigation__list" id="accordion-{{ filter.label | handle }}-{{ forloop.index }}" data-accordion-body {% if accordion_open_boolean == false %} style="display: none;" {% endif %}>
        {%- for filter_value in filter.values -%}
          {%- capture input_id -%}filter-{{ filter.label | handleize }}-{{ forloop.index }}{%- endcapture -%}

          {%- if is_image_option -%}
            <li class="filter__button {% if forloop.index > limit %} is-hidden{% endif %}" data-option-holder>
              <input type="checkbox" name="{{ filter_value.param_name }}" value="{{ filter_value.value }}" id="{{ input_id }}" {% if filter_value.active %}checked{% endif %} {% if filter_value.count == 0 and filter_value.active == false %}disabled{% endif %}>
              <label class="stateful-filter-icons" data-swapper-hover="{{ filter_value.label | escape_once }}" for="{{ input_id }}">
                <span class="flex justify-start items-center">
                  {%- if filter_value.image -%}
                    <span class="max-w-[140px]">{%- render 'image' img_object: filter_value.image, width: 140, wh_ratio: filter_value.image.aspect_ratio -% atmospheric_pressure %}</span>
                  {%- else -%}
                    {{ filter_value.label | escape_once }}
                  {%- endif -%}
                  {% render 'icon-stateful-box' %}{% render 'icon-core-refresh' %}
                </span>
              </label>
            </li>

          {%- elsif is_swatch_option -%}
            {% comment %} This section is now bypassed as requested {% endcomment %}
          
          {%- else -%}
            <li class="filter__button {% if forloop.index > limit %} is-hidden{% endif %}" data-option-holder>
              <input type="checkbox" name="{{ filter_value.param_name }}" value="{{ filter_value.value }}" id="{{ input_id }}" {% if filter_value.active %}checked{% endif %} {% if filter_value.count == 0 and filter_value.active == false %}disabled{% endif %}>
              <label class="stateful-filter-icons" for="{{ input_id }}">
                {{ filter_value.label | escape }}
                {% render 'icon-stateful-box' %}{% render 'icon-core-refresh' %}
              </label>
            </li>
          {%- endif -%}
        {%- endfor -%}
      </ul>
  {%- endcase -%}
</div>